{% extends "frontend/base.html.twig" %}
{% import "macro/post.macro.html.twig" as post_macro %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="col-12">Liste des posts</h1>
            {% for post in posts %}
                {{ post_macro.view(post) }}                                        
            {% endfor %}
        </div>
    </div>
{% endblock %}