<div id="container-notifications" class="px-0 py-2 bg-dark rounded-top hide">
    <div class="notifications-header col-12 m-0 p-0">
        <h3 class="col-12 text-white text-shadow">
            Notifications&nbsp;
            <div class="float-right mt-2">
                <i class="fa fa-times ico-rotate ico-danger close" data-close="container-notifications" title="Fermer ?"></i>
            </div>
        </h3>
    </div>
    <div id="notifications-body" class="col-12 p-2">

    </div>
</div>