{% extends "frontend/base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="col-12 mt-3">Connexion</h1>
            <form action="#" method="POST" class="col-12 p-5">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="label-email">
                            <i class="fas fa-at"></i>
                        </span>
                    </div>
                    <input placeholder="Email" type="email" aria-describedby="label-email" class="form-control" name="email" id="email" required value="{{ request.post('email')|default('') }}">
                    {% if form.hasError('email') %}
                    <div class="form-errors">
                        <span class="badge badge-danger">{{ form.errors('email') }}</span>
                    </div>    
                    {% endif %}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="label-password">
                            <i class="fas fa-key"></i>
                        </span>
                    </div>
                    <input placeholder="Password" class="form-control" aria-describedby="label-password" type="password" name="password" id="password">
                    {% if form.hasError('password') %}
                    <div class="form-errors">
                        <span class="badge badge-danger">{{ form.errors('password') }}</span>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group text-right">
                    <a href="{{ base_url }}forgotPassword" class="btn btn-warning">Mot de passe oublié</a>
                    <button type="submit" class="btn btn-success">Se connecter</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}