{% extends "backend/base.html.twig" %}

{% block body %}
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary col-12">
            <a class="navbar-brand" href="/">Tableau de Bord</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#tbd" aria-controls="tbd"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="tbd">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}