{% extends "frontend/base.html.twig" %}
{% import "macro/post.macro.html.twig" as post_macro %}

{% block body %}
    <blockquote class="blockquote">
        <p>
            Phrase d'accroche
        </p>
    </blockquote>
    <section>
        <h1>Les derniers posts</h1>
        {% if posts is not empty %}
        <div class="row">
            {% for post in posts %}
                {{ post_macro.view(post) }}
            {% endfor %}
        </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                <strong>Aucun post pour le moment !</strong>
            </div>
        {% endif %}
    </section>
{% endblock %}