<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Genarkys</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/assets/css/sandstone.theme.min.css">
        <link rel="stylesheet" href="/public/assets/css/index.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="/public/assets/js/index.js"></script>
        <script src="/public/assets/js/notifications.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Genarkys</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-list" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    {% if app.authentification.isAuthentificated() %}
                        {% if app.authentification.hasRole('ROLE_SUPER_ADMIN') %}
                            <li class="nav-item">
                                <a href="/admin/" class="nav-link">Backend</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="/user/profil?id={{ app.user.id }}" class="nav-link {% if current == 'profil' %} active {% endif %}">Profil</a>
                        </li>
                        {% if current == 'profil' and app.user.id == user.id %}
                            <li class="nav-item">
                                <a href="/user/edit?id={{ app.user.id }}" class="nav-link">Modifier mes données</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="/deconnect" class="nav-link">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/connect/">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
        {% include "modules/notifications.html.twig" %}
    </body>
</html>